/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

img{
	font-size: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

/* Redefines */
body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

/* Helpers */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.group:before, .group:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.group:after { clear: both; }
.group { zoom: 1; }


 /* Primary Styles
    Author: 
 */

/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	width: 896px;
	padding: 72px 48px 84px;
	background: rgb(232,232,232);
	color: rgb(60,60,60);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

/* 1.ROOT */

img,
object {
     max-width: 100%;
}
	
/* 2.HEADINGS */
/* 3.TYPOGRAPHY */

/* Typography
---------------------------------------------------------------------------------------- */

body {
	font-family: "Lucida Grande", Arial, Helvetica, sans serif;
	font-size: 12px;
	color: #993;
	line-height: 1.7em;
}	

ul#activity_list li.item.yongfook_com div.item_inner {
	font-family: Georgia, 'Times New Roman', Times, serif;	
}

h1 {
    font-size: 28px;   
}

a {
	color: #3399ff;
}

a:hover {
	color: #003399;
}

div#aboutme h3 {
	color: #333;	
}

ul#navigation li.current a, ul#navigation li a:hover {
	color: black;	
}

ul#activity_list li.item p.date, p.original_link a, p.activity_image_text span, p.site_info a, div#aboutme, p.blog_cite, div#single_header p, ul#navigation li a, p.osf_recipe {
	color: #999;	
}

p.vimeo_title a, li.item.digg_com div.item_inner a, ul#activity_list li.item.youtube_com div.item_inner a, p.osf_recipe a, header h1 a {
	color: white;	
}

ul#activity_list li.item.youtube_com div.item_inner {
	color: #fd8585;	
}

li.item.digg_com div.item_inner {
	color: #7698b7;
}	

div#explanation {
    color: #999933;
}

div#explanation strong {
    color: #666633;
}

input.text_input {
	font-size: 13px;	
}

h2, div#explanation, div#single_container, ul#navigation li, p.osf_recipe {
    font-size: 15px;   
}

p#pagination, ul#activity_list li.item.yongfook_com div.item_inner, div#single_container h3, div#single_container h4, div#single_container h5 {
	font-size: 20px;
}	

div#single_container h2 {
	font-size: 25px;	
}

ul#activity_list li.item p.date {
	font-size: 9px;	
}

p.blog_cite, p.site_info, p.date, p.original_link, p.activity_image_text, div#aboutme, div#footer, ul#activity_list li.item.youtube_com div.item_inner, p.osf_recipe span {
    font-size: 10px;   
}

p.activity_image_text a, p.twitter_tweet, p.vimeo_title, li.item.digg_com div.item_inner a, div#explanation strong, p#pagination, ul#activity_list li.item.youtube_com div.item_inner a, ul#activity_list li.item.yongfook_com div.item_inner, div#single_header, div#single_container strong, ul.item_tag_list, ul#navigation li, p.osf_recipe, div.instructions strong {
	font-weight: bold;	
}

ul#activity_list li.item.yongfook_com div.item_inner p.blog_cite {
	font-weight: normal;	
}

p.original_link a, p.activity_image_text a, p.site_info a, p.vimeo_title a, li.item.digg_com div.item_inner a, ul#activity_list li.item.youtube_com div.item_inner a, ul#navigation li a, p.osf_recipe a, header h1 a {
    text-decoration: none;   	
}

p.original_link a:hover, p.activity_image_text a:hover, li.item.digg_com div.item_inner a:hover {
	text-decoration: underline;	
}

p.vimeo_title, ul#activity_list li.item.youtube_com div.item_inner, ul#activity_list li.item.yongfook_com div.item_inner {
	text-align: center;	
}

div#single_header h2 {
	line-height: 1.1em;	
}

p.activity_image_text {
	line-height: 1.5em;	
}

p.twitter_tweet, div#aboutme, ul#activity_list li.item.youtube_com div.item_inner {
	line-height: 1.6em;	
}

/* 4.LINKS */

p#original_permalink span {
	background: #FFFFCC;	
}

/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS */

form#search_form {
	margin: 8px 0 0 0;	
}

form#mailing_list {
    margin-top: 15px;
    background: white url(images/mailinglist.gif) 0 0 no-repeat;
    border: 1px solid #CCC;
}

form#mailing_list p {
    padding: 70px 10px 10px 10px;   
}

input.text_input {
    background: #FFFFCC;
    width: 180px;   
}

/* 8.BANNER */

#title {
	margin:20px;
}

header div.center_box {
	height: 150px;	
}

header h1 {
	position: absolute;
	top: 50px;
	left: 0;
}

header h1 a {
	border: 1px solid #b8dbfe;
	border-style: none none solid none;	
}

header h1 a:hover {
	border: 1px solid white;
	border-style: none none solid none;		
}

/* 9.NAVIGATION */

ul#navigation {
    position: absolute;
    left: 0;
    bottom: 0;
}   

ul#navigation li {
    float: left;
    margin-right: 1px;   
}

ul#navigation li a {
	float: left;
	padding: 8px 15px;
	background: white url(images/blogback.jpg) bottom left no-repeat;
}

ul#navigation li.current a {
	background: white;	
}


/* 10.CONTENT */

p.site_info {
    padding: 3px 3px 3px 22px;   
}

ul#activity_list {
	float: left;	
}

ul#activity_list li.item {
    width: 200px;
    margin: 0 15px 15px 0;
    float: left;
    overflow: hidden;
}

div.item_inner {
	border: 1px solid #CCC;	
    height: 250px;
    overflow: hidden;
    position: relative;
}

ul#activity_list li.item.last {
	margin-right: 0;	
}

li.item img, div#single_container img {
    display: block;
}

ul.item_tag_list li {
    display: inline;   
}



/* 11.MAIN */

body {
    background: #040404;   
}



div.center_box {
    width: 980px;
    margin: 0 auto;   
    position: relative;
    background:url(images/innerBG.png);
}

section#center_box	{
		background:url(images/innerBG.png);
		width:980px;
		margin:auto;
	    }
	    
article	{
	
	}
	
aside	{
	
	}
article, aside, section, div#main	{
	}

div#main	{
	width:980px;
	background: url(images/innerBG.png);	
	margin:auto;
	overflow:auto;
	}

article#main_container {
	margin: 15px 0 0 0;
    width: 663px; 
    float: left;
}

aside#sidebar_container {
    display: inline;
    width: 100%;
    float: left;
    margin: 15px 0 0 15px;
}
    

div.clear {
	clear: both;
	width:980px;	
}

p#breadcrumb, p#pagination {
    margin-bottom: 15px; 
    padding: 3px;  
    border: 1px solid #CCC;
    border-style: dotted none;
}

p#pagination {
	padding: 10px 0;	
}

aside#sidebar_container h3 {
    border: 1px solid #CCC;
    border-style: none none solid none;
    margin: 10px 0 5px 0;   
}

aside#sidebar_container div#aboutme_blurb h3 {
	margin-top: 0;	
	border: none;
}

ul.tag_list li {
    display: inline;
    margin: 0 5px 0 0;   
}

div#comments_container {
    border: 1px solid #EEE;
    border-style: solid none none none;
    padding: 10px 0;
    margin-top: 20px;   
}

div.ad_container img {
	display: block;	
}

div.ad_container.bottom { 
	margin: 15px 0;
}

div#explanation {
    background: #FFFFCC;
    padding: 10px;
    margin: 15px 0;
}


p.sidebar_small_banner img {
    display: block;
    margin-bottom: 10px;
}

footer {
	margin:20px 0;
    clear: both;
    width:980px;
    margin:auto;
    padding: 8px;
    position: relative;
}

a#credits {
	margin:20px 0;
    position: absolute;
    right: 10px;
    top: 6px;
}

div#single_header {
	padding: 10px 0 15px 0;	
}

div#single_content p, div#single_container object, div#single_container img, div#single_container ul, div#single_container ol {
	margin-bottom: 15px;	
}

div#single_container img {
	border: 1px solid #CCC;
	padding: 5px;	
}

div#single_container h3, div#single_container h4, div#single_container h5 {
	border: 1px solid #CCC;
	border-style: none none dotted none;	
	padding-bottom: 8px;
	margin-bottom: 8px;
	margin-top: 25px;
}

div.activity_list_inner img {
	float: left;
	margin-right: 10px;	
}

li.activity_item {
	clear: both;	
}
/* 12.COMPLIMENTARY */
/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */

ul#activity_list li.item.digg_com div.item_inner {
	background: #1b5790 url(images/diggback.gif) bottom right no-repeat;	
}

li.item.digg_com div.item_inner a {
	border: 1px solid #7698b7;
	border-style: none none dotted none;
	display: block;	
	padding-bottom: 5px;
	margin-bottom: 5px;
}

div.inner_container {
	padding: 8px 10px;
}	

ul#activity_list li.item.yongfook_com div.item_inner {
	background: white url(images/blogback.jpg) bottom left no-repeat;
}

p.blog_title, p.blog_cite {
	margin: 15px 0 20px 0;	
}

ul#activity_list li.item.yongfook_com div.item_inner img {
	display: inline;	
}

a.activity_image {
	display: block;
	height: 250px;	
}

p.activity_image_text {
	position: absolute;
	top: 0;	
	padding: 3px 5px;
	background: black;	
}

div.instructions code {
	background: #FFFFCC;	
}


/* 16.TEMPLATE SPECIFICS */

body {
	word-wrap: break-word;	
}


/* 17.MODERNIZR */

/*/mediaquery*/



/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	body {
		width: 712px;
		padding: 48px 28px 60px;
	}

/* 1.ROOT */
div#container	{
	width:100%;
	margin:0;
	}
	
/* 2.HEADINGS */
/* 3.TYPOGRAPHY */
/* 4.LINKS */

p#original_permalink span {
	background: #FFFFCC;	
}

/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS */

form#search_form {
	margin: 8px 0 0 5px;	
}

form#mailing_list {
    margin-top: 15px;
    background: white url(images/mailinglist.gif) 0 0 no-repeat;
    border: 1px solid #CCC;
}

form#mailing_list p {
    padding: 70px 10px 10px 10px;   
}

input.text_input {
    background: #FFFFCC;
    width: 60%;   
}

/* 8.BANNER */

#title {
	margin:20px;
}

header div.center_box {
	height: 150px;	
}

header h1 {
	position: absolute;
	top: 50px;
	left: 0;
}

header h1 a {
	border: 1px solid #b8dbfe;
	border-style: none none solid none;	
}

header h1 a:hover {
	border: 1px solid white;
	border-style: none none solid none;		
}

/* 9.NAVIGATION */

ul#navigation {
    position: absolute;
    left: 0;
    bottom: 0;
}   

ul#navigation li {
    float: left;
    margin-right: 1px;   
}

ul#navigation li a {
	float: left;
	padding: 8px 15px;
	background: white url(images/blogback.jpg) bottom left no-repeat;
}

ul#navigation li.current a {
	background: white;	
}


/* 10.CONTENT */

p.site_info {
    padding: 2% 2% 2% 10%;   
}

ul#activity_list {
	float: left;	
}

ul#activity_list li.item {
    width: 95%;	
    margin: 0 auto 15px auto;
    float: left;
    overflow: hidden;
}

div.item_inner {
	border: 1px solid #CCC;	
    height: 250px;
    overflow: hidden;
    position: relative;
}

ul#activity_list li.item.last {
	margin-right: 0;	
}

li.item img, div#single_container img {
    display: block;
}

ul.item_tag_list li {
    display: inline;   
}



/* 11.MAIN */

body {
    background: #040404;   
}


div.center_box {
    width: 100%;
    margin: 0 auto;   
    position: relative;
    background:url(images/innerBG.png);
}

section#center_box	{
		background:url(images/innerBG.png);
		width:100%;
		margin:auto;
	    }
	    
article	{
	
	}
	
aside	{
	
	}
article, aside, section, div#main	{
	}

div#main	{
	width:712px;
	background: url(images/innerBG.png);	
	margin:auto;
	overflow:auto;
	}

article#main_container {
	margin: 15px 0 0 0;
    width: 50%; 
    float: left;
}

aside#sidebar_container {
    display: inline;
    width: 45%;
    float: left;
    margin: 15px 0 0 15px;
}
    

div.clear {
	clear: both;	
	width:100%;
}

p#breadcrumb, p#pagination {
    margin-bottom: 15px; 
    padding: 3px;  
    border: 1px solid #CCC;
    border-style: dotted none;
}

p#pagination {
	padding: 10px 0;
	text-indent:5%;
	width:712px;
}

aside#sidebar_container h3 {
    border: 1px solid #CCC;
    border-style: none none solid none;
    margin: 10px 0 5px 0;   
}

aside#sidebar_container div#aboutme_blurb h3 {
	margin-top: 0;	
	border: none;
}

ul.tag_list li {
    display: inline;
    margin: 0 5px 0 0;   
}

div#comments_container {
    border: 1px solid #EEE;
    border-style: solid none none none;
    padding: 10px 0;
    margin-top: 20px;   
}

div.ad_container img {
	display: block;	
	}

div.ad_container 	{
	margin-top:10px;
	}
div.ad_container.bottom { 
	margin: 15px 0;
}

div#explanation {
    background: #FFFFCC;
    padding: 10px;
    margin: 15px 0;
}


p.sidebar_small_banner img {
    display: block;
    margin-bottom: 10px;
}

footer {
	margin:20px 0;
    clear: both;
	width:100%;
    margin:auto;
    padding: 8px;
    position: relative;
}

a#credits {
	margin:20px 0;
    position: absolute;
    right: 10px;
    top: 6px;
}

div#single_header {
	padding: 10px 0 15px 0;	
}

div#single_content p, div#single_container object, div#single_container img, div#single_container ul, div#single_container ol {
	margin-bottom: 15px;	
}

div#single_container img {
	border: 1px solid #CCC;
	padding: 5px;	
}

div#single_container h3, div#single_container h4, div#single_container h5 {
	border: 1px solid #CCC;
	border-style: none none dotted none;	
	padding-bottom: 8px;
	margin-bottom: 8px;
	margin-top: 25px;
}

div.activity_list_inner img {
	float: left;
	margin-right: 10px;	
}

li.activity_item {
	clear: both;	
}
/* 12.COMPLIMENTARY */
/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */

ul#activity_list li.item.digg_com div.item_inner {
	background: #1b5790 url(images/diggback.gif) bottom right no-repeat;	
}

li.item.digg_com div.item_inner a {
	border: 1px solid #7698b7;
	border-style: none none dotted none;
	display: block;	
	padding-bottom: 5px;
	margin-bottom: 5px;
}

div.inner_container {
	padding: 8px 10px;
}	

ul#activity_list li.item.yongfook_com div.item_inner {
	background: white url(images/blogback.jpg) bottom left no-repeat;
}

p.blog_title, p.blog_cite {
	margin: 15px 0 20px 0;	
}

ul#activity_list li.item.yongfook_com div.item_inner img {
	display: inline;	
}

a.activity_image {
	display: block;
	height: 250px;	
}

p.activity_image_text {
	position: absolute;
	top: 0;	
	padding: 3px 5px;
	background: black;	
}

div.instructions code {
	background: #FFFFCC;	
}


/* 16.TEMPLATE SPECIFICS */

body {
	word-wrap: break-word;	
}


/* 17.MODERNIZR */

}
/*/mediaquery*/


/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	body {
		width: 252px;
		padding: 18px 34px 60px;
	}
	
/* 1.ROOT */

div#container	{
	width:90%;
	margin-left:0;
	}
	
/* 2.HEADINGS */
/* 3.TYPOGRAPHY */
/* 4.LINKS */

p#original_permalink span {
	background: #FFFFCC;	
}

/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS */

form#search_form {
	margin: 8px 0 0 5px;	
}

form#mailing_list {
    margin-top: 15px;
    background: white url(images/mailinglist.gif) 0 0 no-repeat;
    border: 1px solid #CCC;
}

form#mailing_list p {
    padding: 70px 10px 10px 10px;   
}

input.text_input {
    background: #FFFFCC;
    width: 60%;   
}

/* 8.BANNER */

#title {
	width:90%;	
}

header	{
		width:100%;
}

header div.center_box {
	height: 150px;	
}

header h1 {
	position: absolute;
	top: 50px;
	left: 0;
}

header h1 a {
	border: 1px solid #b8dbfe;
	border-style: none none solid none;	
}

header h1 a:hover {
	border: 1px solid white;
	border-style: none none solid none;		
}

/* 9.NAVIGATION */

ul#navigation {
    position: absolute;
    left: 0;
    bottom: 0;
}   

ul#navigation li {
    float: left;
    margin-right: 1px;   
}

ul#navigation li a {
	float: left;
	padding: 8px 15px;
	background: white url(images/blogback.jpg) bottom left no-repeat;
}

ul#navigation li.current a {
	background: white;	
}


/* 10.CONTENT */

p.site_info {
    padding: 2% 2% 2% 10%;   
}

ul#activity_list {
	float: left;
	margin:0;	
}

ul#activity_list li.item {
    width: 95%;	
    margin: 0 0 15px 0;
    float: left;
    overflow: hidden;
}

div.item_inner {
	border: 1px solid #CCC;	
    height: 250px;
    overflow: hidden;
    position: relative;
}

ul#activity_list li.item.last {
	margin-right: 0;	
}

li.item img, div#single_container img {
    display: block;
}

ul.item_tag_list li {
    display: inline;   
}



/* 11.MAIN */

body {
    background: #040404;   
}

div.center_box {
    width: 100%;
    margin: 0 auto;   
    position: relative;
    background:url(images/innerBG.png);
}

section#center_box	{
		background:url(images/innerBG.png);
		width:100%;
		margin:auto;
	    }
	    
article	{
	
	}
	
aside	{
	
	}
article, aside, section, div#main	{
	}

div#main	{
	width:100%;
	background: url(images/innerBG.png);	
	margin:auto;
	overflow:auto;
	}

article#main_container {
	margin: 15px 0 0 0;
    width: 100%; 
    float: left;
}

aside#sidebar_container {
    display: inline;
    width: 100%;
    float: left;
    margin: 15px 0 0 0;
}
    

div.clear {
	clear: both;	
	width:100%;
}

p#breadcrumb, p#pagination {
    margin-bottom: 15px; 
    padding: 3px;  
    border: 1px solid #CCC;
    border-style: dotted none;
}

p#pagination {
	padding: 10px 0;
	text-indent:5%;
	width:100%;
}

aside#sidebar_container h3 {
    border: 1px solid #CCC;
    border-style: none none solid none;
    margin: 10px 0 5px 0; 
    text-indent: 8%;
}

aside#sidebar_container div#aboutme_blurb h3 {
	margin-top: 0;	
	border: none;
}

ul.tag_list li {
    display: inline;
    margin: 0 5px 0 0;   
}

div#comments_container {
    border: 1px solid #EEE;
    border-style: solid none none none;
    padding: 10px 0;
    margin-top: 20px;   
}

div.ad_container img {
	display: block;	
	}

div.ad_container 	{
	margin-top:10px;
	}
div.ad_container.bottom { 
	margin: 15px 0;
}

div#explanation {
    background: #FFFFCC;
    padding: 10px;
    margin: 15px 10%;
}


p.sidebar_small_banner img {
    display: block;
    margin-bottom: 10px;
}

footer {
	margin:20px 0;
    clear: both;
    width:100%;
    position:relative;
	padding:8px 0;
}



a#credits {
	margin:20px 0;
    position: absolute;
    right: 10px;
    top: 6px;
}

div#single_header {
	padding: 10px 0 15px 0;	
}

div#single_content p, div#single_container object, div#single_container img, div#single_container ul, div#single_container ol {
	margin-bottom: 15px;	
}

div#single_container img {
	border: 1px solid #CCC;
	padding: 5px;	
}

div#single_container h3, div#single_container h4, div#single_container h5 {
	border: 1px solid #CCC;
	border-style: none none dotted none;	
	padding-bottom: 8px;
	margin-bottom: 8px;
	margin-top: 25px;
}

div.activity_list_inner img {
	float: left;
	margin-right: 10px;	
}

li.activity_item {
	clear: both;	
}
/* 12.COMPLIMENTARY */
/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */

ul#activity_list li.item.digg_com div.item_inner {
	background: #1b5790 url(images/diggback.gif) bottom right no-repeat;	
}

li.item.digg_com div.item_inner a {
	border: 1px solid #7698b7;
	border-style: none none dotted none;
	display: block;	
	padding-bottom: 5px;
	margin-bottom: 5px;
}

div.inner_container {
	padding: 8px 10px;
}	

ul#activity_list li.item.yongfook_com div.item_inner {
	background: white url(images/blogback.jpg) bottom left no-repeat;
}

p.blog_title, p.blog_cite {
	margin: 15px 0 20px 0;	
}

ul#activity_list li.item.yongfook_com div.item_inner img {
	display: inline;	
}

a.activity_image {
	display: block;
	height: 250px;	
}

p.activity_image_text {
	position: absolute;
	top: 0;	
	padding: 3px 5px;
	background: black;	
}

div.instructions code {
	background: #FFFFCC;	
}


/* 16.TEMPLATE SPECIFICS */

body {
	word-wrap: break-word;	
}


/* 17.MODERNIZR */

}
/*/mediaquery*/



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body {
		width: 436px;
		padding: 36px 22px 48px;
	}
	
/* 1.ROOT */
div#container	{
	width:90%;
	margin:0;
	}
	
/* 2.HEADINGS */
/* 3.TYPOGRAPHY */
/* 4.LINKS */

p#original_permalink span {
	background: #FFFFCC;	
}

/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS */

form#search_form {
	margin: 8px 0 0 5px;	
}

form#mailing_list {
    margin-top: 15px;
    background: white url(images/mailinglist.gif) 0 0 no-repeat;
    border: 1px solid #CCC;
}

form#mailing_list p {
    padding: 70px 10px 10px 10px;   
}

input.text_input {
    background: #FFFFCC;
    width: 60%;   
}

/* 8.BANNER */

#title {
	width:70%;
}

header div.center_box {
	height: 150px;	
}

header h1 {
	position: absolute;
	top: 50px;
	left: 0;
}

header h1 a {
	border: 1px solid #b8dbfe;
	border-style: none none solid none;	
}

header h1 a:hover {
	border: 1px solid white;
	border-style: none none solid none;		
}

/* 9.NAVIGATION */

ul#navigation {
    position: absolute;
    left: 0;
    bottom: 0;
}   

ul#navigation li {
    float: left;
    margin-right: 1px;   
}

ul#navigation li a {
	float: left;
	padding: 8px 15px;
	background: white url(images/blogback.jpg) bottom left no-repeat;
}

ul#navigation li.current a {
	background: white;	
}


/* 10.CONTENT */

p.site_info {
    padding: 2% 2% 2% 10%;   
}

ul#activity_list {
	float: left;	
	margin:0;
}

ul#activity_list li.item {
    width: 95%;	
    margin: 0 0 15px 0;
    float: left;
    overflow: hidden;
}

div.item_inner {
	border: 1px solid #CCC;	
    height: 250px;
    overflow: hidden;
    position: relative;
}

ul#activity_list li.item.last {
	margin-right: 0;	
}

li.item img, div#single_container img {
    display: block;
}

ul.item_tag_list li {
    display: inline;   
}



/* 11.MAIN */

body {
    background: #040404;   
}

div.center_box {
    width: 100%;
    margin: 0 auto;   
    position: relative;
    background:url(images/innerBG.png);
}

section#center_box	{
		background:url(images/innerBG.png);
		width:100%;
		margin:auto;
	    }
	    
article	{
	
	}
	
aside	{
	
	}
article, aside, section, div#main	{
	}

div#main	{width:100%;
	background: url(images/innerBG.png);	
	margin:auto;
	overflow:auto;
	}

article#main_container {
	margin: 15px 0 0 0;
    width: 100%; 
    float: left;
}

aside#sidebar_container {
    display: inline;
    width: 100%;
    float: left;
    margin: 15px 0 0 0;
}
    

div.clear {
	clear: both;	
	width:100%;
}

p#breadcrumb, p#pagination {
    margin-bottom: 15px; 
    padding: 3px;  
    border: 1px solid #CCC;
    border-style: dotted none;
}

p#pagination {
	padding: 10px 0;
	text-indent:5%;
	width:460px;
}

aside#sidebar_container h3 {
    border: 1px solid #CCC;
    border-style: none none solid none;
    margin: 10px 0 5px 0; 
    text-indent: 8%;
}

aside#sidebar_container div#aboutme_blurb h3 {
	margin-top: 0;	
	border: none;
}

ul.tag_list li {
    display: inline;
    margin: 0 5px 0 0;   
}

div#comments_container {
    border: 1px solid #EEE;
    border-style: solid none none none;
    padding: 10px 0;
    margin-top: 20px;   
}

div.ad_container img {
	display: block;	
	}

div.ad_container 	{
	margin-top:10px;
	}
div.ad_container.bottom { 
	margin: 15px 0;
}

div#explanation {
    background: #FFFFCC;
    padding: 10px;
    margin: 15px 10%;
}


p.sidebar_small_banner img {
    display: block;
    margin-bottom: 10px;
}

footer {
	margin:20px 0;
    clear: both;
	width:100%;
    position:relative;
	padding:8px 0;
}


a#credits {
	margin:20px 0;
    position: absolute;
    right: 10px;
    top: 6px;
}

div#single_header {
	padding: 10px 0 15px 0;	
}

div#single_content p, div#single_container object, div#single_container img, div#single_container ul, div#single_container ol {
	margin-bottom: 15px;	
}

div#single_container img {
	border: 1px solid #CCC;
	padding: 5px;	
}

div#single_container h3, div#single_container h4, div#single_container h5 {
	border: 1px solid #CCC;
	border-style: none none dotted none;	
	padding-bottom: 8px;
	margin-bottom: 8px;
	margin-top: 25px;
}

div.activity_list_inner img {
	float: left;
	margin-right: 10px;	
}

li.activity_item {
	clear: both;	
}
/* 12.COMPLIMENTARY */
/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */

ul#activity_list li.item.digg_com div.item_inner {
	background: #1b5790 url(images/diggback.gif) bottom right no-repeat;	
}

li.item.digg_com div.item_inner a {
	border: 1px solid #7698b7;
	border-style: none none dotted none;
	display: block;	
	padding-bottom: 5px;
	margin-bottom: 5px;
}

div.inner_container {
	padding: 8px 10px;
}	

ul#activity_list li.item.yongfook_com div.item_inner {
	background: white url(images/blogback.jpg) bottom left no-repeat;
}

p.blog_title, p.blog_cite {
	margin: 15px 0 20px 0;	
}

ul#activity_list li.item.yongfook_com div.item_inner img {
	display: inline;	
}

a.activity_image {
	display: block;
	height: 250px;	
}

p.activity_image_text {
	position: absolute;
	top: 0;	
	padding: 3px 5px;
	background: black;	
}

div.instructions code {
	background: #FFFFCC;	
}


/* 16.TEMPLATE SPECIFICS */

body {
	word-wrap: break-word;	
}


/* 17.MODERNIZR */

}
/*/mediaquery*/



/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	body {
	
	}
	
}







@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
	* { background: transparent !important; color: #444 !important; text-shadow: none !important; }
	a, a:visited { color: #444 !important; text-decoration: underline; }
	a:after { content: " (" attr(href) ")"; } 
	abbr:after { content: " (" attr(title) ")"; }
	.ir a:after { content: ""; }  
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }  
	tr, img { page-break-inside: avoid; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3{ page-break-after: avoid; }
}